# Did it rain in Seattle and does this affect cycling
For the class Data Science at the University of Applied Sciences Utrecht there is an assignment with a dataset from [Kaggle](kaggle.com). The assigned dataset is: ['Did it rain in Seattle (1947-2017)'](https://www.kaggle.com/rtatman/did-it-rain-in-seattle-19482017). However, this dataset doesn't contain much data. Because of the lack of data; in consideration with the teacher of the course, Rik Jansen, the dataset is combined with [Cycle share dataset from Seattle](https://www.kaggle.com/pronto/cycle-share-dataset).


**Contents**
1. [Import Necessary Libraries](#One)
2. [Read in the data](#Two)
3. [Data Analysis](#Three)
    1. [Did it rain in Seattle (1947-2017) - Complete dataset](#ThreeOne)
    2. [Cycle Share Dataset - Weather](#ThreeTwo)
    3. [Cycle Share Dataset - Station](#ThreeThree)
    4. [Cycle Share Dataset - Trip](#ThreeFour)
4. [Research Questions](#Four)
5. [Hypothesis](#Five)
6. [Data Visualisation](#Six)
7. [Conclusion](#Seven)
8. [Sources](#Eight)

_NOTE_


Misschien moeten we ook nog iets doen met cleaning data, we missen wel wat values.

Ook weet ik niet hoe we t moeten aanpakken met bijvoorbeeld DATE fields die een object datatype hebben ipv. datetime,
vorm je dat gewoon om als je er mee werkt of moet dat apart / aan het begin?

## 1) Import Necessary  Libraries<a id="one"></a>
As the first step a variety of libraries are imported to analyse and visualise the data. These libraries have also been used during the course.


These libraries are:
- Data Analysis libraries
    - Numpy
    - Pandas


- Data Visualisation libraries
    - Holoviews
        * Bokeh
    - MatPlotLib
    - Seaborn

In [2]:
#Data Analysis libraries
import numpy as np
import pandas as pd

#Data Visualisation Libraries
import holoviews as hv
hv.extension('bokeh')
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#Ignore warnings
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'holoviews'

## 2) Read in the data <a id="two"></a>
As the second step the datasets need to be imported (using `pd.read_csv`)

In [ ]:
#Did it Rain in Seattle (1947-2017) Dataset
rain = pd.read_csv('input/seattleWeather_1948-2017.csv')

#Cycle Share Dataset
weather = pd.read_csv('input/weather.csv')
station = pd.read_csv('input/station.csv')
trip = pd.read_csv('input/trip.csv', sep=',', error_bad_lines=False, encoding='UTF-8')

## 3) Data Analysis <a id="Three"></a>
This will be done to get a first look at the data, to get a feel for the dataset. What is inside the dataset, what kind of datatypes are the data and what are the values of the data.

This will be done for every file seperatly, so it won't be too cluttered.

### A) Did it rain in Seattle (1947-2017) - Complete dataset <a id="ThreeOne"></a>

In [ ]:
#Display the datatypes(.dtypes()) of the fields
rain.dtypes

In [ ]:
#Display a sample of the dataset to visualise the variables
rain.sample(5)

***Fields***
- DATE
    * Date of the measurement
    * Format: Year/Month/Day (YYYY/MM/DD)
    * Data type: object
- PRCP
    * Precipation, how much rain/snow has fallen
    * Measurement in Inches
    * Data type: float
- TMAX
    * Maximum Temperature of the day
    * Measurement in Fahrenheit
    * Datatype: int
- TMIN
    * Minimum Temperature of the day
    * Measurement in Fahrenheit
    * Datatype: int
- RAIN
    * If there was rain that day
    * True or False value
    * Datatype: object

*** Data Type ***
- ***Numerical:*** PRCP (Discrete), TMAX (Discrete), TMIN (Discrete)
- ***Categorical:*** Rain
- ***Time-Series:*** Date

In [ ]:
#Display a summary of the "Did it rain in Seattle (1947-2017)" dataset
rain.describe(include = "all")

In [ ]:
#Print a list of the summary of all null values, to see the amount of missing values
pd.isnull(rain).sum()

In [ ]:
display(rain['DATE'].iloc[0])
display(rain['DATE'].iloc[-1])

***Some oberservations***
- There are 25551 dates in the dataset.
- There are 3 values of `Precipation` missing.
- There are 3 values of `Rain` missing.


- The first date in the dataset is from 1948-01-01.
- The last date in the dataset is from 2017-12-14.
***

### B) Cycle Share Dataset - Weather<a id="ThreeTwo"></a>

In [ ]:
weather.dtypes

In [ ]:
weather.sample(5)

In [ ]:
weather.groupby('Events').sum()

***Fields***
- Date
    * Date of the measurement
    * Format: Day/Month/Year (DD/MM/YYYY)
    * Data type: object
    
    
- Max_Temperature_F
    * Maximum temperature of the day
    * Measurement in Fahrenheit
    * Data type: int
- Mean_Temperature_F
    * Mean temperature of the day
    * Measurement in Fahrenheit
    * Data type: float
- Min_TemperatureF
    * Minimum temperature of the day
    * Measurement in Fahrenheit
    * Data type: int


- Max_Dew_point_F
    * Maximum humidity of the day
    * Measurement in Fahrenheit
    * Data type int
- Mean_Dew_Point
    * Mean humidity of the day
    * Measurement in Fahrenheit
    * Data type: int
- Min_Dew_point_F
    * Mean humidity of the day
    * Measurement in Fahrenheit
    * Data type: int
    

- Max_Humidity
    * Maximum humidity of the day
    * Measurement in percentages (relative)
    * Data type: int
- Mean_Humidity
    * Mean humidity of the day
    * Measurement in percentages (relative)
    * Data type: int
- Min_Humidity
    * Minimum Himidity of the day
    * Measurement in percentages (relative)
    * Data type: int
    
    
- Max_Sea_Level_Pressure_In
    * Maximum Sea Level Pressure of the day
    * Measurement in Inches
    * Data type: float
- Mean_Sea_Level_Pressure_In
    * Mean Sea Level Pressure of the day
    * Measurement in Inches
    * Data type: float
- Min_Sea_level_pressure_In
    * Min Sea Level Pressure of the day
    * Measurement in Inches
    * Data type: float


- Max_Visibility_Miles
    * Maximum Visibility Miles of the day
    * Measurement in Inches
    * Data type: int
- Mean_Visibility_Miles
    * Mean Visibility Miles of the day
    * Measurement in Inches
    * Data type: int
- Min_Visibility_Miles
    * Minimum Visibility Miles of the day
    * Measurement in Inches
    * Data type: int
    
    
- Max_Wind_Speed_MPH
    * Maximum wind speed of the day
    * Measurement in Miles per Hour
    * Data type: int
- Mean_Wind_Speed_MPH
    * Mean wind speed of the day
    * Measurement in Miles per Hour
    * Data type: int
    
    
- Max_Gust_Speed_MPH
    * Maximum gust speed of the day
    * Measurement in Miles per Hour
    * Data type: Object
    
    
- Precipation_In
    * Precipation of the day
    * Measurement in Inches
    * Data type: float
    
    
- Events
    * Events of the day
    * Fog, Rain, Snow, Thunderstorm (Can have multiple events on one day)
    * Data type: Object


*** Data Type ***
- ***Numerical:*** Max_Temperature_F (Discrete), Mean_Temperature_F (Discrete), Min_Temperature_F (Discrete), Max_Dew_Point (Discrete), Mean_Dew_Point (Discrete), Min_Dew_Point (Discrete), Max_Humidity (Discrete), Mean_Humidity (Discrete), Min_Humidity (Discrete), Max_Sea_Level_Pressure_In (Discrete), Mean_Sea_Level_Pressure_In (Discrete), Min_Sea_Level_Pressure_In (Discrete), Max_Visibility_Miles (Discrete), Mean_Visibility_Miles (Discrete), Min_Visibility_Miles (Discrete), Max_Wind_Speed_MPH (Discrete), Mean_Wind_Speed_MPH (Discrete), Max_Gust_Speed_MPH (Discrete), Precipation_In (Discrete)
- ***Categorical:*** Events
- ***Time-Series:*** Date

In [ ]:
pd.isnull(weather).sum()

In [ ]:
weather.describe(include='all')

In [ ]:
display(weather['Date'].iloc[0])
display(weather['Date'].iloc[-1])

***Some Observations***
- There is one missing `Mean_Temperature_F` value.
    * This mean can be substracted from `Min_Temperature_F` and `Max_Temperature_F`, since there are no missing values in those fields.
- There are missing 185 `Max_Gust_Speed_MPH` values.
    * A gust of wind isn't happening every time there is wind.
- There are missing 361 `Events` values.
    * Events only list bad-weather events, so if the sun shines there is no event


- The first date in the dataset is 10/13/2014.
- The last date in the dataset is 8/31/2016.

***

### C) Cycle Share Dataset - Station<a id="ThreeThree"></a>

In [ ]:
station.dtypes

In [ ]:
station.sample(5)

***Fields***
- station_Id
    * ID of the station
    * Data type: object
- name
    * Name of the station
    * Data type: object
- lat
    * Latitude of the station
    * Measurement in Latitude
    * Data type: float
- long
    * Longtitude of the station
    * Measurement in Longtitude
    * Data type: float
- install_date
    * The date the station was placed
    * Format: Month/Day/Year (MM/DD/YYYY)
    * Data type: object
- install_dockcount
    * The dockcount (the amount of bicycles that fit, docks) of the station when it was installed
    * Data type: int
- modification_date
    * The date the station was modified
    * Format: Month/Day/Year (MM/DD/YYYY)
    * Data type: object
- current_dockcount
    * The current dockcount (the amount of bicycles that fit, docks)
    * Data type: int
- decomission_date
    * The date the station was decomissioned (taken out of service)
    * Format: Month/Day/Year (MM/DD/YYYY)
    * Data type: object




*** Data Type ***
- ***Numerical:*** Install_dockcount, current_dockcount
- ***Categorical:*** station_Id, name, lat, long
- ***Time-Series:*** Install_date, modification_date, decomission_date

In [ ]:
pd.isnull(station).sum()

In [ ]:
station.describe(include='all')

In [ ]:
station

***Some observations***

- There are 58 stations.
- There are 54 missing values in `Decomission_date`, these are not missing (null). It means the station hasn't been taken out of comission.
- There are 41 missing values in `modification date`, these are not missing (null). It means the station hasn't been modified.
***

### D) Cycle Share Dataset - Trip<a id="ThreeFour"></a>

In [4]:
trip.dtypes

NameError: name 'trip' is not defined

In [99]:
trip = pd.read_csv('input/trip.csv', sep=',', error_bad_lines=False, encoding='UTF-8')
trip.rename(columns={'from_station_id': 'station_id'}, inplace=True)
stationData = pd.read_csv('input/station.csv')

combinedData = pd.merge(trip, stationData, on='station_id', how='inner')
combinedData[['station_id', 'long', 'lat']].groupby('station_id')
combinedData['count'] = combinedData.station_id.value_counts()

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [100]:
combinedData[['station_id', 'long', 'lat', 'count']]

       station_id        long       lat  count
0          CBD-06 -122.335768  47.60595    NaN
1          CBD-06 -122.335768  47.60595    NaN
2          CBD-06 -122.335768  47.60595    NaN
3          CBD-06 -122.335768  47.60595    NaN
4          CBD-06 -122.335768  47.60595    NaN
5          CBD-06 -122.335768  47.60595    NaN
6          CBD-06 -122.335768  47.60595    NaN
7          CBD-06 -122.335768  47.60595    NaN
8          CBD-06 -122.335768  47.60595    NaN
9          CBD-06 -122.335768  47.60595    NaN
10         CBD-06 -122.335768  47.60595    NaN
11         CBD-06 -122.335768  47.60595    NaN
12         CBD-06 -122.335768  47.60595    NaN
13         CBD-06 -122.335768  47.60595    NaN
14         CBD-06 -122.335768  47.60595    NaN
15         CBD-06 -122.335768  47.60595    NaN
16         CBD-06 -122.335768  47.60595    NaN
17         CBD-06 -122.335768  47.60595    NaN
18         CBD-06 -122.335768  47.60595    NaN
19         CBD-06 -122.335768  47.60595    NaN
20         CBD-06 -122.335768  47.60595    NaN
21         CBD-06 -122.335768  47.60595    NaN
22         CBD-06 -122.335768  47.60595    NaN
23         CBD-06 -122.335768  47.60595    NaN
24         CBD-06 -122.335768  47.60595    NaN
25         CBD-06 -122.335768  47.60595    NaN
26         CBD-06 -122.335768  47.60595    NaN
27         CBD-06 -122.335768  47.60595    NaN
28         CBD-06 -122.335768  47.60595    NaN
29         CBD-06 -122.335768  47.60595    NaN
...           ...         ...       ...    ...
286822      WF-03 -122.348701  47.61137    NaN
286823      WF-03 -122.348701  47.61137    NaN
286824      WF-03 -122.348701  47.61137    NaN
286825      WF-03 -122.348701  47.61137    NaN
286826      WF-03 -122.348701  47.61137    NaN
286827      WF-03 -122.348701  47.61137    NaN
286828      WF-03 -122.348701  47.61137    NaN
286829      WF-03 -122.348701  47.61137    NaN
286830      WF-03 -122.348701  47.61137    NaN
286831      WF-03 -122.348701  47.61137    NaN
286832      WF-03 -122.348701  47.61137    NaN
286833      WF-03 -122.348701  47.61137    NaN
286834      WF-03 -122.348701  47.61137    NaN
286835      WF-03 -122.348701  47.61137    NaN
286836      WF-03 -122.348701  47.61137    NaN
286837      WF-03 -122.348701  47.61137    NaN
286838      WF-03 -122.348701  47.61137    NaN
286839      WF-03 -122.348701  47.61137    NaN
286840      WF-03 -122.348701  47.61137    NaN
286841      WF-03 -122.348701  47.61137    NaN
286842      WF-03 -122.348701  47.61137    NaN
286843      WF-03 -122.348701  47.61137    NaN
286844      WF-03 -122.348701  47.61137    NaN
286845      WF-03 -122.348701  47.61137    NaN
286846      WF-03 -122.348701  47.61137    NaN
286847      WF-03 -122.348701  47.61137    NaN
286848      WF-03 -122.348701  47.61137    NaN
286849      WF-03 -122.348701  47.61137    NaN
286850      WF-03 -122.348701  47.61137    NaN
286851      WF-03 -122.348701  47.61137    NaN

[286852 rows x 4 columns]

***Fields***
- trip_id
    * The ID of the trip
    * 
- starttime
    * The time the trip started
    * Format: Month/Day/Year Hour:Minute (MM/DD/YYYY HH:MM)
    * 
- stoptime
    * The time the trip stopped
    * Format: Month/Day/Year Hour:Minute (MM/DD/YYYY HH:MM)
    * 
- bikeid
    * The ID of the bike
    * 
    * 
- tripduration
    * The duration of the trip
    * 
    * 
- from_station_name
    * Where the bike was extracted from
    * 
    * 
- to_station_name
    * Where the bike was put in again
    * 
    * 
- from_station_id
    * The id of the station where the bike was extracted from
    * 
    * 
- to_station_id
    * The id of the station where the bike was put in again
    * 
    * 
- usertype
    * The type of user that used the bike
    * 
    * 
- gender
    * The gender of the user that used the bike
    * 
    * 
- birthyear
    * The date of birth of the user who leased the bike
    * 
    * 



*** Data Type ***
- ***Numerical:*** 
- ***Categorical:*** 
- ***Time-Series:***

## 4) Research Questions <a id="Four"></a>
Following the school assignment these where the things the assignment had to contain:
- A Data Analysis and research question.
- A Supervised machine learning question.
- A Unsupervised machine learning Question.
- A question where you combine your dataset with another (2 datasets).
- A question with a interactive plot.
- A question where you find correlations in the data.


With these mandatory questions in mind, these questions were formed:

**Main Question** 
- Does the weather influence the lease of bicycles?

**Sub-questions**
- In what part of Seattle are the most bicycles leased?
- Will people cycle more in the future?
- Will there be leased less bicyles when the weather is bad?
- At what part of the day are stations filled with bicycles?
- What is the correlation between temperature and the amount of (precipation) rain? Which months have the most precipation? Do these months change over time?

## 5) Hypothesis <a id="Five"></a>
What is the expectation of the research questions, before starting the analysis?

- ***In what part of Seattle the most bicycles leased?***
    - The expectation is that around workplaces and public transport hotspots (train station, bus stops, metro stations) there will be leased more bicycles than other places


- ***Will people cycle more in the future?***
    - The expectation is that people won't cycle more in the future.


- ***Will there be leased less bicycles when the weather is bad?***
    - There will be leased less bicycles when the weather is bad, people like to cycle better when the sun is out.
    
    
- ***At what part of the day are stations filled with bicycles?***
    - The stations are full with bicycles (on week days) when everybody is at work or home, so between 07:00-09:00 and 17:00-18:30 the bikes will be used.
    - In the weekend it's different, the times on work days are the times the days stations are filled, and the rest of the day the stations will be more empty.
    

- ***What is the correlation between temperature and the amount of (precipation) rain? Which months have the most precipation? Do these months change over time?***
    - The temperature is lower when it rains.
    - Months in the fall ( September 1st to November 30th) have the most amount of precipation.
    - These months do not change over time.

## 6) Data Visualisation <a id="Six"></a>
It's time to visualise the data, to see if the hypothesis is accurate

NameError: name 'trip' is not defined

## 8) Sources <a id="Eight">
All used datasets and used documentation can be found here

### Datasets
- [Did it rain in Seattle (1947-2017)](https://www.kaggle.com/rtatman/did-it-rain-in-seattle-19482017)
- [Cycle Share Dataset](https://www.kaggle.com/pronto/cycle-share-dataset)