(How) does weather influence ammount of bikeleases?

In [21]:
#Data Analysis libraries
import numpy as np
import pandas as pd

In [22]:
#importing needed csv files
stations = pd.read_csv('input/station.csv')
trips = pd.read_csv('input/trip.csv', error_bad_lines=False)
weathers = pd.read_csv('input/weather.csv')

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [23]:
#convert the strings to datetime objects
trips['starttime'] = pd.to_datetime(trips['starttime'])
trips['stoptime'] = pd.to_datetime(trips['stoptime'])

In [24]:
#trim the time of, we only want the date
trips['starttime'] = trips['starttime'].dt.date
trips['stoptime'] = trips['stoptime'].dt.date

In [25]:
#group by trips per day, add trips per day to weather dataframe
tripsperday = trips.groupby(['starttime']).size().reset_index(name='biketrips')
weathers['biketrips'] = tripsperday['biketrips']
weathers

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,biketrips
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.65,10,10,4,13,4,21,0.00,Rain,818
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.54,10,9,3,10,5,17,0.11,Rain,982
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.51,10,9,3,18,7,25,0.45,Rain,626
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.81,10,10,10,9,4,-,0.00,Rain,790
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.73,10,10,6,8,3,-,0.14,Rain,588
5,10/18/2014,68,64.0,59,59,57,55,90,83,68,...,29.80,10,8,2,10,4,-,0.31,Rain,798
6,10/19/2014,73,64.0,55,57,55,53,94,74,52,...,29.67,10,10,6,10,3,18,0.00,NaN,1332
7,10/20/2014,66,60.0,55,57,54,50,90,78,67,...,29.69,10,10,5,12,5,-,0.44,Rain,778
8,10/21/2014,64,58.0,55,52,49,46,87,70,58,...,29.74,10,10,6,15,8,21,0.10,Rain,714
9,10/22/2014,60,58.0,57,55,53,48,88,81,67,...,29.56,10,6,2,14,8,22,1.43,Rain,282
10,10/23/2014,62,55.0,50,49,47,44,86,76,62,...,29.71,10,10,10,15,9,22,0.35,Rain,676
11,10/24/2014,60,56.0,51,50,47,44,86,75,60,...,29.74,10,10,8,8,4,-,0.13,Rain,860
12,10/25/2014,64,58.0,52,53,49,44,87,78,58,...,29.26,10,10,6,24,6,41,0.37,Rain,432
13,10/26/2014,59,52.0,48,48,44,42,86,71,62,...,29.76,10,10,10,20,12,30,0.05,Rain,504
14,10/27/2014,62,54.0,45,46,43,41,87,72,48,...,29.98,10,10,10,7,4,-,0.01,Rain,734
15,10/28/2014,62,56.0,51,54,50,45,88,80,72,...,29.84,10,8,2,14,5,-,0.34,Rain,470
16,10/29/2014,64,59.0,54,54,51,50,88,76,60,...,29.94,10,10,9,15,7,24,0.04,Rain,880
17,10/30/2014,62,58.0,55,55,53,50,88,82,75,...,29.74,10,9,2,8,2,-,0.67,Rain,454
18,10/31/2014,59,54.0,52,52,49,46,89,83,67,...,29.69,10,8,2,8,4,-,0.77,Rain,452
19,11/1/2014,55,52.0,48,48,45,42,89,78,62,...,29.84,10,10,7,6,1,-,0.00,NaN,876
20,11/2/2014,57,51.0,45,52,47,42,90,82,62,...,30.06,10,9,4,9,5,-,0.11,Rain,662
21,11/3/2014,60,58.0,55,53,51,48,84,80,75,...,30.01,10,9,3,13,8,20,0.24,Rain,474
22,11/4/2014,61,58.0,55,54,51,48,90,79,67,...,29.99,10,9,3,10,6,-,0.05,Rain,770
23,11/5/2014,61,57.0,53,55,51,48,90,79,64,...,29.96,10,10,3,7,2,-,0.27,Rain,592
24,11/6/2014,64,60.0,54,55,50,45,90,75,58,...,29.80,10,10,4,20,8,37,0.22,Rain,512
25,11/7/2014,59,52.0,45,45,43,40,86,72,53,...,30.31,10,10,10,7,3,-,0.00,NaN,690
26,11/8/2014,55,48.0,42,44,42,39,93,78,60,...,30.06,10,8,2,7,1,-,0.00,NaN,1058
27,11/9/2014,57,52.0,48,50,46,43,87,80,72,...,29.82,10,9,3,12,6,16,0.29,Rain,474
28,11/10/2014,54,48.0,43,43,40,34,86,71,54,...,30.07,10,10,10,8,2,-,0.00,NaN,784
29,11/11/2014,48,42.0,36,39,18,3,80,42,20,...,30.18,10,10,10,15,5,22,0.00,NaN,540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,8/2/2016,73,64.0,57,53,51,50,78,66,49,...,30.07,10,10,10,12,6,17,0.00,NaN,395
660,8/3/2016,75,66.0,60,53,52,51,72,62,45,...,30.16,10,10,10,10,6,NaN,0.00,NaN,412
661,8/4/2016,80,69.0,59,56,53,51,81,58,38,...,29.91,10,10,10,13,5,21,0.00,NaN,439
662,8/5/2016,79,70.0,61,54,51,46,75,56,32,...,29.89,10,10,10,9,4,NaN,0.00,NaN,520
663,8/6/2016,72,63.0,55,51,49,48,77,62,45,...,29.91,10,10,10,10,6,NaN,0.00,NaN,379
664,8/7/2016,72,66.0,60,56,52,49,83,69,49,...,29.89,10,10,10,9,4,NaN,0.03,Rain,328
665,8/8/2016,73,64.0,57,54,53,48,84,69,44,...,29.95,10,10,10,9,4,NaN,0.00,NaN,431
666,8/9/2016,72,66.0,60,55,54,53,83,70,53,...,29.98,10,10,10,10,3,NaN,0.00,NaN,428
667,8/10/2016,75,68.0,60,56,55,54,83,67,48,...,30.04,10,10,10,12,2,17,0.00,NaN,504
668,8/11/2016,80,70.0,61,57,56,54,81,63,47,...,30.06,10,10,10,12,4,20,0.00,NaN,490
669,8/12/2016,87,75.0,63,59,57,55,78,56,36,...,29.98,10,10,10,10,3,NaN,0.00,NaN,465
670,8/13/2016,90,78.0,66,60,56,51,78,52,28,...,29.93,10,10,10,8,2,NaN,0.00,NaN,466
671,8/14/2016,82,71.0,60,54,52,44,78,51,25,...,29.96,10,10,10,10,4,NaN,0.00,NaN,451
672,8/15/2016,84,72.0,61,57,55,53,78,57,37,...,30.02,10,10,10,9,2,NaN,0.00,NaN,408
673,8/16/2016,81,69.0,57,56,54,51,90,62,35,...,30.04,10,10,10,8,2,NaN,0.00,NaN,422
674,8/17/2016,79,70.0,60,54,53,50,80,56,40,...,30.00,10,10,10,12,4,NaN,0.00,NaN,430
675,8/18/2016,86,73.0,60,63,59,49,72,57,45,...,29.93,10,10,10,16,8,NaN,0.00,NaN,528
676,8/19/2016,95,60.0,26,77,54,9,88,48,23,...,29.88,10,10,10,16,8,NaN,0.00,NaN,407
677,8/20/2016,91,78.0,64,57,53,48,70,44,26,...,29.78,10,10,10,10,3,NaN,0.00,NaN,426
678,8/21/2016,73,66.0,60,55,54,52,83,68,48,...,29.81,10,10,10,14,8,NaN,0.00,NaN,345
679,8/22/2016,72,64.0,57,59,51,46,93,64,40,...,29.99,10,10,10,14,8,NaN,0.00,NaN,439
680,8/23/2016,79,67.0,55,55,51,48,83,58,39,...,30.12,10,10,10,17,7,NaN,0.00,NaN,412
681,8/24/2016,82,70.0,57,57,55,54,89,60,39,...,30.12,10,10,10,20,5,NaN,0.00,NaN,446
682,8/25/2016,93,77.0,61,59,54,50,81,51,22,...,29.94,10,10,10,14,4,NaN,0.00,NaN,471
683,8/26/2016,88,74.0,60,57,52,45,82,45,22,...,29.79,10,10,10,10,4,NaN,0.00,NaN,500
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.77,10,10,10,16,9,NaN,0.00,NaN,333
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.01,10,10,10,12,9,NaN,0.00,NaN,392
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,29.95,10,10,6,9,4,NaN,0.00,NaN,369
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,29.97,10,10,10,14,9,18,0.00,NaN,375
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.96,10,10,8,14,8,NaN,0.00,Rain,319

In [26]:
#sum the ammount of trips, grouped per unique event
Eventtrips = weathers.groupby('Events').apply(lambda x: x.groupby('Date').biketrips.first().sum()).reset_index(name='tripsperevent')

In [27]:
#refactor the information into a new dataframe to get an overview of how many days each event took place
bla = weathers['Events'].value_counts().reset_index(name='count')
bla = bla.sort_values(by=['index'])
bla.rename(columns={'index': 'Events'}, inplace=True)
bla

                Events  count
1                  Fog     16
2           Fog , Rain      7
3             Fog-Rain      6
0                 Rain    287
8          Rain , Snow      1
5  Rain , Thunderstorm      3
6            Rain-Snow      2
4    Rain-Thunderstorm      4
7                 Snow      2

In [28]:
#Calculate average trips per event per day
Eventtrips['count'] = bla['count']
Eventtrips
Merge = pd.merge(Eventtrips, bla, on='Events'  )
Merge = Merge[['Events','tripsperevent', 'count_y']]
Merge['avg'] = Merge['tripsperevent']/Merge['count_y']
Merge

                Events  tripsperevent  count_y         avg
0                  Fog           6528       16  408.000000
1           Fog , Rain           3302        7  471.714286
2             Fog-Rain           1535        6  255.833333
3                 Rain         101934      287  355.170732
4          Rain , Snow            126        1  126.000000
5  Rain , Thunderstorm           1355        3  451.666667
6            Rain-Snow            252        2  126.000000
7    Rain-Thunderstorm           1032        4  258.000000
8                 Snow            463        2  231.500000

In [29]:
#Calculate trips per day where Event is null (good weather), and add to dataframe
df = pd.DataFrame([['NaN',weathers['biketrips'].sum(),weathers['Events'].isnull().sum(),weathers['biketrips'].sum()/weathers['Events'].isnull().sum()]], columns=('Events','tripsperevent','count_y','avg'))
Merge = Merge.append(df, ignore_index=True)
Merge

                Events  tripsperevent  count_y         avg
0                  Fog           6528       16  408.000000
1           Fog , Rain           3302        7  471.714286
2             Fog-Rain           1535        6  255.833333
3                 Rain         101934      287  355.170732
4          Rain , Snow            126        1  126.000000
5  Rain , Thunderstorm           1355        3  451.666667
6            Rain-Snow            252        2  126.000000
7    Rain-Thunderstorm           1032        4  258.000000
8                 Snow            463        2  231.500000
9                  NaN         286857      361  794.617729

conclusion: the weather certainly influences the ammount of leased bicycles. Rain and snow is the the combination that effects the lease the most (126 leases on average). Now that we have seen the absolute values, we want to put this into a nice graph and calculate the correlation

In [31]:
#importing needed csv files again, to reset all changes
station = pd.read_csv('input/station.csv')
trip = pd.read_csv('input/trip.csv', error_bad_lines=False)
weather = pd.read_csv('input/weather.csv')

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [32]:
#refactor columns to needed date and datetime
weather['Date'] = pd.to_datetime(weather['Date'], format="%m/%d/%Y")
weather['year'] = weather['Date'].dt.year
weather['month'] = weather['Date'].dt.month

In [33]:
#calc temp and precipation per month, year. Concatenate them into 1 dataframe
temppermy = weather[['Mean_Temperature_F', 'year', 'month']].groupby(['year','month']).mean()
precpermy = weather[['Precipitation_In', 'year', 'month']].groupby(['year','month']).mean()
result = pd.concat([tripspermy, temppermy, precpermy], axis=1, join='inner')

NameError: name 'tripspermy' is not defined

- Deel door neerslag omdat je verwacht dat het aantal trips groter is bij lage neerslag
- Vermenigvuldig met de temperatuur omdat je verwacht dat het aantal trips grote is bij een hogere temperatuur

In [39]:
#amount of trips / precipitation
result['TripsPrec'] = tripspermy['Amount of trips']/precpermy['Precipitation_In']
#amount of trips / temperature
result["TripsTemp"] = tripspermy['Amount of trips']*temppermy['Mean_Temperature_F']
result

NameError: name 'tripspermy' is not defined

Correlatie tussen neerslag en fietsverhuur (line-graph)

X as = het aantal waarnemingen (de maanden)
Y as = trips/neerslag

In [35]:
result['TripsPrec'].plot()
plt.xlabel('Tijd')
plt.ylabel('Neerslag')

NameError: name 'result' is not defined

Met neerslag is dus wel significant anders, er worden duidelijk minder trips genomen op het moment dat het regent. Maar neerslag is niet de enige definitie van slecht weer. Temperatuur speelt hier ook een grote rol in. We gaan kijken of dit ook invloed heeft en wat die invloed is.

Correlatie tussen temperatuur en fietsverhuur (line-graph)

X as = het aantal waarnemingen (de maanden)
Y as = trips*temperatuur

In [40]:
result[['TripsTemp']].plot()
plt.xlabel('Tijd')
plt.ylabel('Temperatuur')

NameError: name 'result' is not defined

Er is hier dus geen verschil, is namelijk bijna hetzelfde als amount of trips over time (zoals hierboven te zien)

We kunnen dus concluderen dat de neerslag (maar ook het type neerslag) significante invloed heeft op het aantal gehuurde fietsen. Temperatuur daarentegen heeft geen significante invloed. Van alle typen neerslag heeft de combinatie van sneeuw en regen de meeste invloed op het aantal huurders op die dag.